* {
    bg-col: #181616;
    bg-col-light: #181616;
    border-col: #181616;
    selected-col: #393836;
    randomcolor: #dca561;
    fg-col: #c5c9c5;
    fg-col2: #dca561;
    subtext: #7a8382;
    width: 900;
}
