* {
    bg-col: #1f1f28;
    bg-col-light: #1f1f28;
    border-col: #1f1f28;
    selected-col: #54546d;
    randomcolor: #e6c384;
    fg-col: #c5c9c5;
    fg-col2: #e6c384;
    subtext: #7a8382;
    width: 900;
}
