* {
    bg-col: #1a1a22;
    bg-col-light: #1a1a22;
    border-col: #1a1a22;
    selected-col: #363646;
    randomcolor: #e6c384;
    fg-col: #c5c9c5;
    fg-col2: #e6c384;
    subtext: #7a8382;
    width: 900;
}
